body {
    /* font-family: sans-serif; */
    /* display: flex;
    flex-direction: column; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid red;
    margin: 3px;
    padding: 24px 17px;
    
}

.container{
       
   padding: 9px 4px;
   border: solid yellowgreen;
   border-style: double;
   border-radius: 50px;

}
h3{ 
     margin: 4px 5px;
     padding: 9px 3px;
    }